@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.name{
    letter-spacing: 20px;
}


.hero{
    background-image: url('../public/herobgfilter.png');
    background-size: cover;
    background-attachment: fixed;

}




@media screen and (max-width: 1024px) {
    .name{
        letter-spacing: 12px;
    }
}

@media screen and (max-width: 500px) {
    .name{
        letter-spacing: 4px;
    }
}